.navbar {
    background-color: #0E0C0A;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
    color: #fbc531;
}

.navbar .navbar-nav .active>.nav-link {
    color: #fbc531;
}